.CalHolder {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.Cal {
    width:400px;
}

.reservations {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.reservations table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.reservations table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.reservations table th,
.reservations table td {
    padding: 12px 15px;
    text-align: center;
}
// .reservations table tbody tr{
//     border: 1px solid;
// }